<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="CMSProxy" value="net.tcp://localhost:9999/CertificateManager" />
    <add key="ServerProxy" value="net.tcp://localhost:10000/WCFContracts" />
  </appSettings>
</configuration>